<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Analysis</title>

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body>

    <div class = "container-fluid">

        <nav  id = "main_navbar" class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

              <a class="navbar-brand" href="{{ url_for('home') }}">
                <img src="static/images/logo3.png" alt="Logo"  height="26" class="d-inline-block align-text-top">
                Face Analysis
              </a>
          
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('upload') }}">Upload</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('login') }}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('bmr') }}">BMR</a>
                  </li>
                  
                </ul>
                
              </div>
            </div>
          </nav>

          <div class="container-fluid" style="margin-top:20px;"> 


            <div class="card col-lg-5 m-auto">
              <h5 class="card-header">Image uploader</h5>
              <div class="card-body">
                <!-- <h5 class="card-title">Face image</h5> -->
                <p class="card-text">Upload the face image for analysis.</p>

                <form method="post" enctype="multipart/form-data">

                  <!-- <div class="input-group mb-3">
                    <input name="image" type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                  </div> orm-control-lg -->

                  <div class="mb-3">
                    <input name ="image" class="form-control" type="file">
                  </div>
                  <button type="submit" class="btn btn-primary">upload</button>

                </form>

              </div>
            </div>


          </div>

            

    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.js"></script>
</body>
</html>